<h2>Add subject</h2>

<form class="" action="/subjects/add" method="post">
    <div class="">
        <label for="Subject name">Subject</label>
        <input type="text" name="subjectName" placeholder="enter a subject name">
    </div>
    <input type="submit" name="" value="Add subject">
</form>
